a{
    color:red
}
nav > h2{
    background-color:aquamarine;
    color:blue;
}

div + p{
    color:red;
}
a[href]{
    text-decoration: none;
    background-color: red;
}
a[class="active"]{
    color:blue;
    text-decoration: underline;
}
a[target="_self"]{
    background-color:chartreuse;
}
p:last-child::after{
    content:"...";
}

li::marker{
    color:green;
}
p:nth-child(even)::first-letter{
    color:red;
    font-size:30px;
}